@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@media print {
  header, footer {
    display: none !important;
  }

  /* Specifically target and show page number */
  @page {
    margin: 0;
    @bottom-right {
      content: counter(page) " of " counter(pages);
    }
  }

  .print-hide {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  body {
    margin: 1cm;
  }
}